.comments {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px 25% 20px 25%;
    background-color: #fff3df;
    border-radius: 10px;
}

.comment-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border-bottom: 1px grey double;
}

.comment-head {
    font-weight: bold;
    line-height: 35px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px #8d8d8d dashed;
}

.head-info {
    margin-left: 18px;
    margin-right: 18px;
}

.comment-content {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-info {
    margin-left: 18px;
    margin-right: 18px;
}

.op-wrap {
    margin-left: 5px;
    border-right: 1px solid red;
}

.op-wrap > a {
    text-decoration: none;
    color: inherit;
}

.op-wrap > a:hover {
    color: #f00000;
}

.send-comments {
    margin: 40px 25% 20px 25%;
    width: 18%;
}

.send-comment-wrap {
    display: flex;
    flex-direction: column;
}

.send-head {
    font-weight: bold;
    line-height: 20px;
}